---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 md:px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h1
            class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            FastCron blog
          </h1>
          <p class="font-light px-4 text-gray-500 sm:text-xl dark:text-gray-400">
            Latest news from FastCron - a better online cronjob service.
          </p>
        </div>
        <div class="grid gap-8 lg:grid-cols-2">
          {
            posts.map((post) => (
              <article class="py-6 pb-10 p-6 bg-white border-b md:border md:rounded-lg  border-gray-200 md:shadow-md dark:bg-gray-800 dark:border-gray-700">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white hover:underline">
                  <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">
                  {post.data.description}
                </p>
                <div class="flex justify-between items-center">
                  <div class="flex items-center space-x-4">
                    <span class="text-sm text-gray-500 dark:text-gray-400">
                      <FormattedDate date={post.data.pubDate} />
                    </span>
                  </div>                  
                </div>
              </article>
            ))
          }
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
